/* Elements */
body {
  padding: 1rem;
}

form {
  padding: 1rem;
  
  border: 1px solid #CCC;
  
  border-radius: 1rem;
}

input[type=text],
select {
  margin: 0 auto;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 0;
}

label.shrink {
  position: relative;
  
  top: -3px;
  
  font-size: 75%;
}

/* Classes */
.center {
  text-align: center;
}

.removable .add-item {
  width: 100%;
  height: 25px;
  
  display: block;
  
  border: 1px solid #CCC;
  border-radius: 10px;
  
  background-color: #FFF;
  color: #CCC;
  
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}

.removable .add-item:focus,
.removable .add-item:hover {
  background-color: #EEE;
}

.removable .remove {
  position: absolute;
  
  top: 35px;
  right: 25px;
  
  color: #999;
  
  text-decoration: none;
}

.stat-table {
  /*padding: 0;
  margin: 0 5px;*/
  
  text-align: center;
}

.stat-table fieldset {
  padding: 0.25rem 1.25rem 1rem;
  margin: inherit 0;
}

.stat-table .columns {
  padding: 0 !important;
}

.stat-table .t-header {
  margin: 0 !important;
  
  font-size: 0.5rem;
}

.stat-table .t-row {
  margin: 0 !important;
  
  font-size: 0.75rem;
}

.stat-table .t-row input {
  height: 1.25rem;
  
  padding: 2px;
  
  text-align: center;
}

.controls {
  position: fixed;
  
  top: 0.5rem;
  right: 0.5rem;
  
  padding: 0.5rem;
  
  background-color: rgba(255, 255, 255, 0.75);
  
  border: 1px solid #CCC;
  border-radius: 1rem;
  
  z-index: 9001;
}

.controls a {
  display: block;
  
  margin: 5px;
  padding: 0.75rem !important;
}

.data-block label {
  font-size: 0.75rem;
}

.nudge-up {
  position: relative;
  top: -8px;
}

.portrait {
  height: 225px;
  
  border: 1px solid #CCC;
  
  background: url(../img/avatar.png) center center transparent no-repeat;
  background-size: contain;
}

.select-wrapper {
  width: 100%;
  height: 2.3125rem;
  
  display: inline-block;
  
  border-right: 1px solid #CCC;
  
  overflow: hidden;
}

.select-wrapper select {
  width: 125%;
  height: 2.3125rem;
  
  background-position: 80% center;
}

.sheet > .row {
  margin: 0;
}

/* IDs */

